body {
    margin: 60px auto;
    width: 70%;
    background: url("https://i.ytimg.com/vi/YtkjG8H8RU4/maxresdefault.jpg") no-repeat top;
    background-size: cover;
    background-attachment: fixed;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1,.top,.table{
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: gray;
    background-color: black;
    border: solid 20px #990000  ;
}
p{
    font-size: 1.5em;
    line-height: 1.4em;
    color: gray;
    background-color: black;
    border: solid 20px #990000  
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    color:rgb(0,128,0);
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
nav{
    border-bottom: 1px solid #d5d5d5;
}
.gif{
    text-align: center
    
}
*{
box-sizing: border-box;}
