<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="http://www.lolking.net/summoner/na/67260385" target=_blank>About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<div class="gif">
				<h1 class="top"> When you are winning lane</h1>
				<img src="http://66.media.tumblr.com/c3a3a725914da1341d0724dfa6fdae4b/tumblr_nh382raMeF1sdk5d7o1_500.gif">
				<div class="Bottom">
					<h1>When you still win with Ult</h1>
					<img src="http://i.makeagif.com/media/1-08-2015/RqVMLn.gif">
				</div>
				
			</div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:zazalim1188@gmail.com">email</a></li>
	        		<li><a href="https://github.com/JonathanLim2001">github.com/jonathanlim2001</a></li>
				</ul>
			</footer>
			
		</body>
	</html>
